body {
    font-family: Arial, sans-serif;
    background-color: #fff8e7;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 15px;
    font-size: 16px;
    border-radius: 12px;
    background-color: #fff9f2;
    border: 1px solid #d1bfa7;
    color: #5a4033;
    resize: none;
    outline: none;
}

textarea:focus {
    border-color: #c69c6d;
    box-shadow: 0 0 8px rgba(198, 156, 109, 0.3);
}

.card {
    background-color: #ffffff;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}
.card-body {
    padding: 30px;
}

.custom-btn {
    width: 50%;
    padding: 6px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    background: linear-gradient(90deg, #c69c6d, #a67c52);
    color: white;

    margin-top: 15px;
    margin-bottom: 25px;
}
.custom-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.positive {
    color: green;
}

.negative {
    color: red;
}

.neutral {
    color: orange;
}

h1 {
    color: #5a4033;
}
p {
    color: #7a5e4c;
}

.result-box {
    margin-top: 25px;
    padding: 20px;
    border-radius: 15px;
    background-color: #fff9f2;
    transition: border 0.3s ease;
    margin-bottom: 10px;
    border-width: 3px;
}
.result-text {
    margin-top: 8px;
    font-size: 15px;
    text-align: center;
    color: #7a5e4c;

    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
}

.result-box.positive { 
    border: 2px solid #28a745;
    background-color: #eaf7ee; 
}
.result-box.negative { 
    border: 2px solid #dc3545;
    background-color: #fdecec;
}
.result-box.neutral  { 
    border: 2px solid #ffc107; 
    background-color: #fff7e0;
}

.sentiment-text {
    font-size: 22px;
    font-weight: 600;
}
.sentiment-emoji {
    font-size: 34px;
    margin-left: 8px;
    vertical-align: middle;
}