body {
    font-family: Arial, sans-serif;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    resize: vertical;
}

.card {
    max-width: 600px;
    margin: 0 auto;
}

button {
    width: 100%;;
}

.result {
    margin-top: 20px;
    font-weight: bold;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

.neutral {
    color: orange;
}