<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sentiment Journal</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container mt-5">
        <h1 class="text-center">Sentiment Journal</h1>
        <p class="text-center text-muted">
            Write your thoughts. Track your mood over time.
        </p>

        <div class="card mt-4">
            <div class="card-body text-center">

                <form method ="POST">
                    <textarea name="journal_text"></textarea>

                    <button type="submit" class="custom-btn">
                        Analyze
                    </button>

                {% if result %}
                    <div class="result-box {{ result|lower }}">
                        <h3>
                            <span class="sentiment-text">
                            {% if result == 'Positive' %}
                                Positive
                            {% elif result == 'Negative' %}
                                Negative
                            {% else %}
                                Neutral
                            {% endif %}
                            </span>

                            <span class="sentiment-emoji">
                            {% if result == 'Positive' %}
                                😊
                            {% elif result == 'Negative' %}
                                😞
                            {% else %}
                                😐
                            {% endif %}
                            </span>
                        </h3>

                        <p class="result-text">
                            {% if result == 'Positive' %}
                                Keep up the great mood! Remember to spread positivity around you.
                            {% elif result == 'Negative' %}
                                It's okay to have tough days. Consider talking to a friend or practicing self-care.
                            {% else %}
                                A balanced mindset is key. Take time to reflect and stay grounded.
                            {% endif %}
                        </p>
                    </div>
                {% endif %}

                </form>


            </div>
        </div>
    </div>

</body>
</html>